* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Karla", sans-serif;
}
header {
  background: linear-gradient(135deg, #672280, #a626d3);
}

nav {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.25rem;
  color: #ffffff;
}
.nav-main {
  display: flex;
  gap: 0.5rem;
}
.nav-logo {
  width: 32px;
}

main {
  margin-top: 4rem;
}

.main-form {
  width: 90%;
  margin: 0 auto;
}

.input-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.input-container input {
  width: 40vw;
  height: 40px;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
  border: 1px solid #d1d5db;
}
#submit {
  margin-top: 2rem;
  background: linear-gradient(135deg, #672280, #a626d3);
  appearance: none;
  border: none;
  color: #ffffff;
  height: 60px;
  width: 100%;
  font-size: 1.25rem;
  font-weight: bold;
}
#submit:focus,
#submit:hover {
  cursor: pointer;
}
